form(method="post", action="/insertAfter")
    textarea(name="insertText", cols="100", rows="20")= fileData.data
    input(type="hidden", name="type" value=fileData.type)
    input(type="hidden", name="collection" value=fileData.collection)
    input(type="hidden", name="replace" value=fileData.replace)
    input(type="submit", value="Send")